#root {
  display: flex;
  margin: 20vh auto;
}
.img-tile {
  height: 5em !important;
  width: 5em !important;
  padding: 1em !important;
  box-sizing: border-box;
  background-color: transparent !important;
  border: none !important;
}

